{% extends "truck_queue/base.html" %}
{% load i18n %}

{% block title %}{% trans "Log in" %}{% endblock %}

{% block body_block %}

{% if message %}{{ message }}{% endif %}
<div class="container">
    <form class="form-signin" method="post" action="{% url 'auth_login' %}">
        {% csrf_token %}

        <h2 class="form-signin-heading">Please sign in</h2>
        <label for="user_name" class="sr-only">Username</label>
        <input type="user_name" id="user_name" name="user_name" class="form-control" placeholder="Username" required autofocus>

        <label for="password" class="sr-only">Password</label>
        <input type="password" id="password" name="password" class="form-control" placeholder="Password" required>

        <div class="checkbox">
            <label>
                <input type="checkbox" value="remember-me"> Remember me
            </label>
        </div>
        <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
        <input type="hidden" name="next" value="{{ next }}" />

        <br>
        <p>{% trans "Forgot your password?" %} <a href="{% url 'auth_password_reset' %}">{% trans "Reset it" %}</a>.</p>
        <p>{% trans "Not a member?" %} <a href="{% url 'registration_register' %}">{% trans "Register" %}</a>.</p>
    </form>
</div> <!-- /container -->

{% endblock %}